EmployeeService/EmployeeUI/Service References/EmployeeService/EmployeeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDetail" nillable="true" type="tns:EmployeeDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDetail" nillable="true" type="tns:ArrayOfEmployeeDetail" />
  <xs:complexType name="EmployeeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpId" type="xs:int" />
      <xs:element minOccurs="0" name="EmpMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDetail" nillable="true" type="tns:EmployeeDetail" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="empId" type="xs:int" />
      <xs:element minOccurs="0" name="empMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>