EmployeeService/EmployeeUI/Service References/EmployeeService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53354/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53354/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53354/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpService_GetAllEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetAllEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetAllUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserById" />
  </wsdl:message>
  <wsdl:message name="IEmpService_GetAllUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_AddEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_AddEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_UpdateEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_UpdateEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpService_DeleteEmp_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmp" />
  </wsdl:message>
  <wsdl:message name="IEmpService_DeleteEmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpService">
    <wsdl:operation name="GetAllEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/GetAllEmp" message="tns:IEmpService_GetAllEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/GetAllEmpResponse" message="tns:IEmpService_GetAllEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/GetAllUserById" message="tns:IEmpService_GetAllUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/GetAllUserByIdResponse" message="tns:IEmpService_GetAllUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/AddEmp" message="tns:IEmpService_AddEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/AddEmpResponse" message="tns:IEmpService_AddEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/UpdateEmp" message="tns:IEmpService_UpdateEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/UpdateEmpResponse" message="tns:IEmpService_UpdateEmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmp">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpService/DeleteEmp" message="tns:IEmpService_DeleteEmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpService/DeleteEmpResponse" message="tns:IEmpService_DeleteEmp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpService" type="tns:IEmpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmp">
      <soap:operation soapAction="http://tempuri.org/IEmpService/GetAllEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserById">
      <soap:operation soapAction="http://tempuri.org/IEmpService/GetAllUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmp">
      <soap:operation soapAction="http://tempuri.org/IEmpService/AddEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmp">
      <soap:operation soapAction="http://tempuri.org/IEmpService/UpdateEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmp">
      <soap:operation soapAction="http://tempuri.org/IEmpService/DeleteEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IEmpService" binding="tns:BasicHttpBinding_IEmpService">
      <soap:address location="http://localhost:53354/EmployeeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>